.profile-card {
  background-color: #bfd5da !important;
  // ion-label {
  //   margin-left: 8em;
  // }

  #colIcon {
    text-align: center;
    align-content: center;
    align-self: center;
  }
}
