.stared-card {
  background-color: #6f979f !important;
  color: white;
  // ion-label {
  //   margin-left: 8em;
  // }

  #colIcon {
    text-align: center;
    align-content: center;
    align-self: center;
  }
  img {
    align-content: center;
    align-self: center;
  }
}
