<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Brief history of cooking </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="intro">
    <ion-col size-sm="5">
      <ion-text color="tertiary" class="ion-text-center">
        <p>
          In most traditional societies, the task of daily food preparation fell
          primarily to women—though both men and women were heavily involved in
          food procurement. Civilization allowed more people to specialize in
          other occupations, and that trend eventually produced a class of
          professional chefs, whose main job was cooking for others. Tomb
          paintings, sculptures, and archaeological remains from more than 5,000
          years ago clearly show that ancient Egypt already had many different
          food-related jobs, including butchery, baking, brewing, and
          winemaking. Beer brewing may have been initiated much earlier by the
          production of cereal crops, possibly 10,000 years ago. All of those
          professions had their own shops and facilities, often with multiple
          employees working in well-organized kitchens.
        </p>
      </ion-text>
    </ion-col>
  </ion-grid>
</ion-content>
