ion-content {
  --background: url("https://mobimg.b-cdn.net/v3/fetch/38/3869f0835615692d6c7c64ed1fc1db45.jpeg")
    no-repeat center/cover fixed;
}

.intro p {
  color: white;
  line-height: 20px;
  font-size: 20px;
  margin: 10px;
}
